<div *ngIf="BootData['data']">
  <a routerLink="/securitystatus/{{BootData['data'][0]['ip']}}">Auth</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityboot/{{BootData['data'][0]['ip']}}">Boot</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitycrypto/{{BootData['data'][0]['ip']}}">Crypto</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityfileintegrity/{{BootData['data'][0]['ip']}}">Fileintegrity</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityfirewall/{{BootData['data'][0]['ip']}}">Firewall</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityframework/{{BootData['data'][0]['ip']}}">Framework</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityhardening/{{BootData['data'][0]['ip']}}">Hardening</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitykernel/{{BootData['data'][0]['ip']}}">kernel</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitylogging/{{BootData['data'][0]['ip']}}">Logging</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitynameservers/{{BootData['data'][0]['ip']}}">Nameservers</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitynetworking/{{BootData['data'][0]['ip']}}">Networking</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityprinting/{{BootData['data'][0]['ip']}}">Printing</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityProcessesInfo/{{BootData['data'][0]['ip']}}">Processes</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitySquid/{{BootData['data'][0]['ip']}}">Squid</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitySsh/{{BootData['data'][0]['ip']}}">Ssh</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityWeb/{{BootData['data'][0]['ip']}}">Web</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityMydatabase/{{BootData['data'][0]['ip']}}">Mydatabase</a>

</div>
<nz-table nzTemplateMode>
    <thead>
      <tr>
        <th>类目</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody *ngIf="BootData['data']">
      <tr>
        <td>ip</td>
        <td><nz-tag [nzColor]="'#87d068'">{{ BootData['data'][0]["ip"] }}</nz-tag></td>
      </tr>
      <tr>
        <td>grub是否安全</td>
        <td *ngIf="BootData['data'][0]['grubsecurity'] == 1;else grubsecurity"><nz-tag [nzColor]="'#87d068'">安全</nz-tag></td>
        <ng-template #grubsecurity>
          <td><nz-tag [nzColor]="'#f50'">不安全</nz-tag></td>
        </ng-template>
      </tr>
      <tr>
        <td>grub加密</td>
        <td *ngIf="BootData['data'][0]['grubencrypted'] == 1;else grubencrypted"><nz-tag [nzColor]="'#87d068'">安全</nz-tag></td>
        <ng-template #grubencrypted>
          <td><nz-tag [nzColor]="'#f50'">不安全</nz-tag></td>
        </ng-template>
      </tr>
      <tr>
        <td>grub存储安全</td>
        <td *ngIf="BootData['data'][0]['storedsecurely'] == 1;else storedsecurely"><nz-tag [nzColor]="'#87d068'">安全</nz-tag></td>
        <ng-template #storedsecurely>
          <td><nz-tag [nzColor]="'#f50'">不安全</nz-tag></td>
        </ng-template>
      </tr>
      <tr>
        <td>计划任务</td>
        <td *ngIf="BootData['data'][0]['cron'] == '';else cron"><nz-tag [nzColor]="'#87d068'">无任务</nz-tag></td>
      </tr>
      <ng-template #cron>
        <td><nz-tag [nzColor]="'#2db7f5'"><textarea nz-input placeholder="{{ BootData['data'][0]['cron']}}" [disabled]="true" ></textarea></nz-tag></td>
      </ng-template>
    </tbody>
</nz-table>