<div *ngIf="FirewallData['data']">
    <a routerLink="/securitystatus/{{FirewallData['data'][0]['ip']}}">Auth</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityboot/{{FirewallData['data'][0]['ip']}}">Boot</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitycrypto/{{FirewallData['data'][0]['ip']}}">Crypto</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityfileintegrity/{{FirewallData['data'][0]['ip']}}">Fileintegrity</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityfirewall/{{FirewallData['data'][0]['ip']}}">Firewall</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityframework/{{FirewallData['data'][0]['ip']}}">Framework</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityhardening/{{FirewallData['data'][0]['ip']}}">Hardening</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitykernel/{{FirewallData['data'][0]['ip']}}">kernel</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitylogging/{{FirewallData['data'][0]['ip']}}">Logging</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitynameservers/{{FirewallData['data'][0]['ip']}}">Nameservers</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitynetworking/{{FirewallData['data'][0]['ip']}}">Networking</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityprinting/{{FirewallData['data'][0]['ip']}}">Printing</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityProcessesInfo/{{FirewallData['data'][0]['ip']}}">Processes</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitySquid/{{FirewallData['data'][0]['ip']}}">Squid</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitySsh/{{FirewallData['data'][0]['ip']}}">Ssh</a>

</div>
  <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th>类目</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody *ngIf="FirewallData['data']">
        <tr>
          <td>ip</td>
          <td><nz-tag [nzColor]="'#87d068'">{{ FirewallData['data'][0]["ip"] }}</nz-tag></td>
        </tr>
        <tr>
            <td>iptables规则</td>
            <td><textarea nz-input placeholder="{{ FirewallData['data'][0]['rules']}}" [disabled]="true" ></textarea></td>
        </tr>
      </tbody>
  </nz-table>