<div *ngIf="kernelData['data']">
    <a routerLink="/securitystatus/{{kernelData['data'][0]['ip']}}">Auth</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityboot/{{kernelData['data'][0]['ip']}}">Boot</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitycrypto/{{kernelData['data'][0]['ip']}}">Crypto</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityfileintegrity/{{kernelData['data'][0]['ip']}}">Fileintegrity</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityfirewall/{{kernelData['data'][0]['ip']}}">Firewall</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityframework/{{kernelData['data'][0]['ip']}}">Framework</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityhardening/{{kernelData['data'][0]['ip']}}">Hardening</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitykernel/{{kernelData['data'][0]['ip']}}">kernel</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitylogging/{{kernelData['data'][0]['ip']}}">Logging</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitynameservers/{{kernelData['data'][0]['ip']}}">Nameservers</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitynetworking/{{kernelData['data'][0]['ip']}}">Networking</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityprinting/{{kernelData['data'][0]['ip']}}">Printing</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityProcessesInfo/{{kernelData['data'][0]['ip']}}">Processes</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitySquid/{{kernelData['data'][0]['ip']}}">Squid</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securitySsh/{{kernelData['data'][0]['ip']}}">Ssh</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityWeb/{{kernelData['data'][0]['ip']}}">Web</a>
    <i nz-icon nzType="more" nzTheme="outline"></i>
    <a routerLink="/securityMydatabase/{{kernelData['data'][0]['ip']}}">Mydatabase</a>
  
  </div>
  <nz-table nzTemplateMode>
      <thead>
        <tr>
          <th>类目</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody *ngIf="kernelData['data']">
        <tr>
          <td>ip</td>
          <td><nz-tag [nzColor]="'#87d068'">{{ kernelData['data'][0]['ip'] }}</nz-tag></td>
        </tr>
        <tr>
            <td>CoreDump</td>
            <td *ngIf="kernelData['data'][0]['coreDump']=='1';else coreDump"><nz-tag [nzColor]="'#87d068'">已启用</nz-tag></td>
            <ng-template #coreDump>
                <td><nz-tag [nzColor]="'#f50'">未启用</nz-tag></td>
              </ng-template>
        </tr>
        <tr>
          <td>PAE补丁</td>
          <td *ngIf="kernelData['data'][0]['pae']=='1';else pae"><nz-tag [nzColor]="'#87d068'">已修复</nz-tag></td>
          <ng-template #pae>
              <td><nz-tag [nzColor]="'#f50'">未修复</nz-tag></td>
            </ng-template>
      </tr>
      </tbody>
  </nz-table>