<div *ngIf="CryptoData['data']">
  <a routerLink="/securitystatus/{{CryptoData['data'][0]['ip']}}">Auth</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityboot/{{CryptoData['data'][0]['ip']}}">Boot</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitycrypto/{{CryptoData['data'][0]['ip']}}">Crypto</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityfileintegrity/{{CryptoData['data'][0]['ip']}}">Fileintegrity</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityfirewall/{{CryptoData['data'][0]['ip']}}">Firewall</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityframework/{{CryptoData['data'][0]['ip']}}">Framework</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securityhardening/{{CryptoData['data'][0]['ip']}}">Hardening</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitykernel/{{CryptoData['data'][0]['ip']}}">kernel</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitylogging/{{CryptoData['data'][0]['ip']}}">Logging</a>
  <i nz-icon nzType="more" nzTheme="outline"></i>
  <a routerLink="/securitynameservers/{{CryptoData['data'][0]['ip']}}">Nameservers</a>

</div>
<nz-table nzTemplateMode>
    <thead>
      <tr>
        <th>类目</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody *ngIf="CryptoData['data']">
      <tr>
        <td>ip</td>
        <td><nz-tag [nzColor]="'#87d068'">{{ CryptoData['data'][0]['ip'] }}</nz-tag></td>
      </tr>
      <tr>
        <td>过期证书数量</td>
        <td *ngIf="CryptoData['data'][0]['total'] == 0;else total"><nz-tag [nzColor]="'#87d068'">{{ CryptoData['data'][0]['total'] }}</nz-tag></td>
        <ng-template #total>
          <td><nz-tag [nzColor]="'#f50'">{{ CryptoData['data'][0]['total'] }}</nz-tag></td>
        </ng-template>
      </tr>
    </tbody>
</nz-table>
